<td class="col-{{col}} value {{#if attr}}attr{{/if}} {{#if record_num}}record_num{{/if}} {{#if first}}first{{/if}}">
    {{#unless record_num}}
    <div class="click_detector" data-col={{col}}>
    {{/unless}}
        {{#if record_num}}<div class="value-{{col}} value_record_num value_container">{{value}}</div>{{/if}}
        {{#if attr}}<div class="value-{{col}} value_attr value_container">{{value}}</div>{{/if}}
        {{#if undefined}}
        <div class="value-{{col}} value_undefined value_container">undefined</div>
        {{/if}}
        {{#if null}}
        <div class="value-{{col}} value_null value_container">null</div>
        {{/if}}
        {{#if number}}
        <div class="value-{{col}} value_number value_container">{{value}}</div>
        {{/if}}
        {{#if string}}
        <div class="value-{{col}} value_string value_container">{{value}}</div>
        {{/if}}
        {{#if boolean}}
        <div class="value-{{col}} value_boolean value_container">{{#if value}}true{{else}}false{{/if}}</div>
        {{/if}}
        {{#if array}}
        <div class="value-{{col}} value_array value_container">
            [{{comma_separated_list value}}]
        </div>
        {{/if}}
    {{#unless record_num}}
    </div>
    {{/unless}}
</td>
