<h1><a href="#">Home</a> <span class="child">&gt;</span> database <a href="#db/{{db_name}}">{{db_name}}</a> <span class="child">&gt;</span> table <a href="#table/{{db_name}}/{{table_name}}">{{table_name}}</a></h1>
<div class="main_padding">
    <div class="top_content">
        <div class="alert alert-error not_displayed error"></div>
        <div class="alert not_displayed feedback_add">
            <a href="#" class="close">&times;</a>
            <span class="feedback_add_content"></span>
        </div>
        <div class="options_container">
            <button class="btn btn_add_document"><i class="icon-plus-sign"></i>New document</button>
        </div>
    </div>
    <div class="add_document">
    </div>
    <div class="loading_container">
        <img src="/images/ajax-loader.gif" class="loading" />Loading...
    </div>
    <div class="content_displayer">
        <table class="content_container"></table>
    </div>
</div>
